<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheep.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.sheep.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
            <result property="userStatus" column="userStatus" jdbcType="TINYINT"/>
            <result property="userRole" column="userRole" jdbcType="TINYINT"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,userPassword,
        username,avatarUrl,gender,
        email,profile,userStatus,
        userRole,phone,deleted,
        createTime,updateTime
    </sql>
    <insert id="insertUserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user (useraccount,userPassword) values (#{userAccount},#{userPassword})
    </insert>
    <select id="selectByUserAccount" resultType="java.lang.Long">
        select count(*) from user where userAccount = #{userAccount} and deleted = 0
    </select>
    <select id="selectUserByAccountAndPsw" resultType="com.sheep.domain.User">
        select * from user where userAccount = #{userAccount} and userPassword = #{userPassword} and deleted = 0
    </select>

</mapper>
